<?xml version='1.0' encoding='utf-8'?>
<manifest>
  <include name="../platform/msmnile.xml" />

  <project path="device/xiaomi/vayu" name="SorryLuigi/android_device_xiaomi_vayu" remote="github-ssh" revision="void" />
  <project path="kernel/msm-4.14" name="SorryLuigi/android_kernel_xiaomi_vayu" remote="github-ssh" revision="void" />
  <project path="hardware/xiaomi" name="AtomXCLO/android_hardware_xiaomi" remote="atomx" revision="void" />
  <project path="vendor/xiaomi/vayu" name="SorryLuigi/proprietary_vendor_xiaomi_vayu" remote="github-ssh" revision="void" clone-depth="1" />
  <project path="vendor/nxp/opensource/hidlimpl" name="AtomXCLO/android_vendor_nxp_opensource_hidlimpl" remote="atomx" revision="void-pn5xx" />
  <project path="vendor/nxp/opensource/halimpl" name="AtomXCLO/android_vendor_nxp_opensource_halimpl" remote="atomx" revision="void-pn5xx" />
  <project path="packages/resources/devicesettings" name="AtomXCLO/android_packages_resources_devicesettings" remote="atomx" revision="void" />
</manifest>
